// Breakpoint Mixin
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $maxWidth + ($gutterWidth*2) + px ) { @content ; }
  }
  @else if $point == laptop {
    @media (max-width: $maxWidth + ($gutterWidth*2) + px ) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 960px)  { @content ; }
  }
  @else if $point == mobile {
    @media (max-width: 600px)  { @content ; }
  }
  @else {
    @media (max-width: $point) { @content ; }
  }
}

// Grid

$container-width: 1080;
$gutter-width: 30;
$totalColumns: 12;

@for $columnNo from 1 through $totalColumns {
  .col-#{$columnNo} {
    width: ( (100 / $totalColumns) * $columnNo) + %;
    padding: ($gutter-width / 2) + px;
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
}
@for $columnNo from 1 through $totalColumns {
  .flex-col-#{$columnNo} {
    flex-basis: ( (100 / $totalColumns) * $columnNo) + %;
    padding: ($gutter-width / 2) + px;
  }
}

.container {
  box-sizing: content-box; // ensure correct calculation
  max-width: $container-width + px;
  margin: 0 auto;
  padding: 0 ($gutter-width / 2) + px;
}
.flex-container {
  @extend .container;
  justify-content: center;
  display: flex;
  @include breakpoint(mobile) {
    display: block;
  }
}
.flex-item {
  flex-grow: 1;
}
