@import "variables", "normalise", "structure";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto !important;
}

::-moz-selection {
  color: $beige;
  background: $orange;
}
::selection {
  color: $beige;
  background: $orange;
}

html {
  background: $beige;
  font-family: $futura;
  font-weight: normal;
  font-size: 20px;
  color: $brown;
  @include breakpoint(mobile) {
    font-size: 18px;
  }
}

p, li {
  line-height: 1.4;
}
p {
  margin-bottom: 1.5em;
  &:last-child { margin-bottom: 0; }
}

ul { margin-left: 2em; }

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
  &:hover {
    color: $orange;
  }
}
b { font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 0.5em;
}
@function extrude($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 60 {
    $val: #{$val}, #{$i}px #{-$i}px #{$color};
  }
  @return $val;
}

h1 {
  @include dambura;
  font-size: 9em;
  padding-top: 0.25em;
  color: $claret;
  margin: 0;
  text-shadow: extrude($darkbrown);

  @include breakpoint(mobile) {
    font-size: 6em;
  }
}
h2 {
  font-size: 1em;
  margin-bottom: 2em;
}

.caps { text-transform: uppercase; }

.small { font-size: 13px; }

.textCenter { text-align: center; }


// Modules

.button {
  display: inline-block;
  background: $blue;
  color: $beige;
  font-weight: 600;
  padding: 1em 2.25em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1px;
  border: 0;
  &:hover {
    transition: background 500ms;
    background: darken($blue, 20%);
    color: $beige;
  }
  &:active { transform: translateY(1px); }
}
.button-big {
  @extend .button;
  font-size: 1.25em;
  margin: 1em 0;
}

.left { float: left; }
.right { float: right; }

.clearfix { overflow: hidden; }

.pad {
  padding: 2em 4em;
  @include breakpoint(mobile) {
    padding: 0 4em;
  };
}

[class^="strip"] {
  padding: 2em 0;
  &.noPad { padding: 0; }
}
.strip-fat {
  padding: 4em 0;
}
.strip-hero {
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $orange;
  color: $beige;
}
.strip-primary {
  background: $orange;
}
.strip-secondary {
  background: $brown;
  color: $beige;
}
.strip-tertiary {
  background: $pink;
}

.textfit {
  @include dambura;
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 0.15em;
  margin-bottom: 0;
  margin-top: -0.15em;
  color: $brown;

  &:focus { outline: none; }
  &:nth-child(even) { color: $orange; }
  &:last-of-type { padding-bottom: 0;}
}

.tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}

.label {
  font-size: 12px;
  font-weight: 600;
}

.shareButtons {
  display: inline;
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    a {
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block;
      border: 1px solid $brown;
      color: $brown;
      padding: 0.5em;
      border-radius: 3px;
      margin: 0 4px;
      &:hover {
        background: $brown;
        color: $beige;
      }
    }
  }
}

// Misc

#download { outline: none; }

.browserupgrade {
  background: $pink;
  color: white;
  text-align: center;
  padding: 1em;
}
